<!doctype html style="height:100%">
<html lang="en" ng-app="MineSweeper">
<head>
  <meta charset="utf-8">
  <title>Mine Sweeper</title>
  <link rel="stylesheet" href="css/kube.min.css"/>
  <link rel="stylesheet" href="css/minesweeper.css"/>
  <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css"/>
  <!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
mixpanel.init("0ccda1abf25320fe72a08df3fe665b21");</script><!-- end Mixpanel -->
</head>
<body class="units-row" ng-controller="AppCtrl">
  <div class="unit-100">
    <h1> <i class="fa fa-crosshairs"></i> Mine Sweeper</h1>
  </div>
  
  <div class='unit-100' style="min-height:100px">
    <img width="200" ng-src="assets/images/lose.gif" ng-show="state.error"></img>
    <img width="200" ng-src="assets/images/win.gif" ng-show="state.success"></img>
  </div>
  
  <div class="unit-100">
    <button class="btn btn-small" ng-click="settings = !settings"><i class="fa fa-cog"></i></button>
    <button class="btn btn-small" ng-click="newGame()">New game</button>
    <button class="btn btn-small" ng-click="validate($event)">Check</button>
  </div>
  
  <div ng-show="settings" class="settings">
    <span>Select a difficulty :</span>
    <form class="forms">
      <ul class="forms-list">
        <li ng-repeat="d in difficulties">
          <input ng-model="$parent.difficulty" ng-value="d" type="radio">
          <label>{{d.label}}</label>
        </li>
      </ul>
    </form>
    <span class="label label-data">Changes will take effect at next game</span>
  </div>
  
  <div class='unit-100'>
    <div class="tile-row" ng-repeat="row in model">
      <tile data="tile" ng-repeat="tile in row" on-click="onTileClick(tile)" on-alt-click="onTileAltClick(tile)"></tile>
    </div>
  </div>
  
  <div class='unit-100'>
    <span ng-show="state.success">Victory !</span>
    <span ng-show="state.error">Oh noes !</span>
  </div>
  
</body>
<script src="bower_components/angular/angular.min.js"></script>
<script src="index.js"></script>
</html>
